{% macro social_label(kind) %}
{% if kind == "email" %}Email
{% elif kind == "github" %}GitHub
{% elif kind == "gitlab" %}GitLab
{% elif kind == "x" %}X
{% elif kind == "youtube" %}YouTube
{% elif kind == "bluesky" %}Bluesky
{% elif kind == "linkedin" %}LinkedIn
{% elif kind == "mastodon" %}Mastodon
{% elif kind == "instagram" %}Instagram
{% elif kind == "facebook" %}Facebook
{% elif kind == "threads" %}Threads
{% elif kind == "tiktok" %}TikTok
{% elif kind == "discord" %}Discord
{% elif kind == "orcid" %}ORCID
{% elif kind == "scholar" %}Google Scholar
{% elif kind == "medium" %}Medium
{% elif kind == "substack" %}Substack
{% elif kind == "rss" %}RSS
{% else %}{{ kind | capitalize }}
{% endif %}
{% endmacro %}

{% macro social_href(social) %}
{% if social.type == "email" %}mailto:{{ social.url | safe }}{% else %}{{ social.url | safe }}{% endif %}
{% endmacro %}

{% macro social_icon(kind) %}
{% if kind == "email" %}
{% include "partials/icons/social/email.html" %}
{% elif kind == "github" %}
{% include "partials/icons/social/github.html" %}
{% elif kind == "gitlab" %}
{% include "partials/icons/social/gitlab.html" %}
{% elif kind == "x" %}
{% include "partials/icons/social/x.html" %}
{% elif kind == "youtube" %}
{% include "partials/icons/social/youtube.html" %}
{% elif kind == "bluesky" %}
{% include "partials/icons/social/bluesky.html" %}
{% elif kind == "linkedin" %}
{% include "partials/icons/social/linkedin.html" %}
{% elif kind == "mastodon" %}
{% include "partials/icons/social/mastodon.html" %}
{% elif kind == "instagram" %}
{% include "partials/icons/social/instagram.html" %}
{% elif kind == "facebook" %}
{% include "partials/icons/social/facebook.html" %}
{% elif kind == "threads" %}
{% include "partials/icons/social/threads.html" %}
{% elif kind == "tiktok" %}
{% include "partials/icons/social/tiktok.html" %}
{% elif kind == "discord" %}
{% include "partials/icons/social/discord.html" %}
{% elif kind == "orcid" %}
{% include "partials/icons/social/orcid.html" %}
{% elif kind == "scholar" %}
{% include "partials/icons/social/scholar.html" %}
{% elif kind == "medium" %}
{% include "partials/icons/social/medium.html" %}
{% elif kind == "substack" %}
{% include "partials/icons/social/substack.html" %}
{% elif kind == "rss" %}
{% include "partials/icons/social/rss.html" %}
{% else %}
{% include "partials/icons/social/website.html" %}
{% endif %}
{% endmacro %}

{% macro website_icon() %}
{% include "partials/icons/social/website.html" %}
{% endmacro %}
