<div class="university-carousel" role="region" aria-label="Universities represented among contributors">
  <div class="university-carousel-row university-carousel-row--forward">
    <div class="university-carousel-track">
      <ul class="university-carousel-group" role="list">
        {% include "partials/university-logos-row-1.html" %}
      </ul>
      <ul class="university-carousel-group" role="list" aria-hidden="true">
        {% include "partials/university-logos-row-1.html" %}
      </ul>
    </div>
  </div>

  <div class="university-carousel-row university-carousel-row--reverse">
    <div class="university-carousel-track">
      <ul class="university-carousel-group" role="list">
        {% include "partials/university-logos-row-2.html" %}
      </ul>
      <ul class="university-carousel-group" role="list" aria-hidden="true">
        {% include "partials/university-logos-row-2.html" %}
      </ul>
    </div>
  </div>

  <div class="university-carousel-row university-carousel-row--forward university-carousel-row--slow">
    <div class="university-carousel-track">
      <ul class="university-carousel-group" role="list">
        {% include "partials/university-logos-row-3.html" %}
      </ul>
      <ul class="university-carousel-group" role="list" aria-hidden="true">
        {% include "partials/university-logos-row-3.html" %}
      </ul>
    </div>
  </div>
</div>
